.header {
  width: 100vw;
  border-bottom: 1px solid #00C72C;
  height: 70px;
}
.header .header-cont {
  display: flex;
  max-width: 1740px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .header-cont .header-menu ul {
  display: flex;
}
.header .header-cont .header-menu ul .menu-items {
  list-style-type: none;
  margin-left: 30px;
  color: #888888;
}
.header .header-cont .header-menu ul .menu-items:hover {
  color: #555555;
  cursor: pointer;
}
.header .header-cont .header-menu .header-avatar {
  position: relative;
}
.header .header-cont .header-menu .header-avatar .avatar-icon {
  width: 40px;
}
.header .header-cont .header-menu .header-avatar .avatar-icon:hover {
  cursor: pointer;
}
.header .header-cont .header-menu .header-avatar .profile-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 150px;
  background-color: white;
  border: 1px solid #c0c0c0;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 0;
  z-index: 999;
}
.header .header-cont .header-menu .header-avatar .profile-menu .menu-item {
  padding: 5px 10px;
}
.header .header-cont .header-menu .header-avatar .profile-menu .menu-item:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}